# Node.js
node_modules/
.env

# Logs
logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MongoDB Cluster Runtime Files
mongo-cluster/**/WiredTiger*
mongo-cluster/**/mongod.lock
mongo-cluster/**/journal/
mongo-cluster/**/diagnostic.data/
mongo-cluster/**/*.wt
mongo-cluster/**/*.ns
mongo-cluster/**/*.turtle
mongo-cluster/**/*.snappy
mongo-cluster/**/*.wtc
mongo-cluster/**/*.log
mongo-cluster/**/*.log.*

# Mongos diagnostic folder
mongos.diagnostic.data

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Misc
*.bak
*.tmp
